In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

import pandas_datareader as pdr
from pandas_datareader import data, wb

from datetime import datetime

from __future__ import division

In [4]:
tech_list = ['AAPL','GOOG','MSFT','AMZN']

In [5]:
end = datetime.now()
start = datetime(end.year-1,end.month,end.day)

In [7]:
for stock in tech_list:
    globals()[stock] = pdr.get_data_yahoo(stock,start,end)

In [10]:
AAPL.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-06,172.369995,174.990005,171.720001,174.250000,174.250000,35026300
2017-11-07,173.910004,175.250000,173.600006,174.809998,174.809998,24361500
2017-11-08,174.660004,176.240005,174.330002,176.240005,176.240005,24409500
2017-11-09,175.110001,176.100006,173.139999,175.880005,175.880005,28724600
2017-11-10,175.110001,175.380005,174.270004,174.669998,174.669998,19156898

In [11]:
GOOG.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-11-10,791.169983,791.169983,752.179993,762.559998,762.559998,4745200
2016-11-11,756.539978,760.780029,750.380005,754.020020,754.020020,2431800
2016-11-14,755.599976,757.849976,727.539978,736.080017,736.080017,3631700
2016-11-15,746.969971,764.416016,746.969971,758.489990,758.489990,2384000
2016-11-16,755.200012,766.359985,750.510010,764.479980,764.479980,1465200

In [12]:
MSFT.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-11-10  60.480000  60.490002  57.630001  58.700001  57.319069  57822400
2016-11-11  58.230000  59.119999  58.009998  59.020000  57.631542  38767800
2016-11-14  59.020000  59.080002  57.279999  58.119999  56.752712  40861900
2016-11-15  58.330002  59.490002  58.320000  58.869999  57.873413  35904100
2016-11-16  58.939999  59.660000  58.810001  59.650002  58.640213  26851400

In [13]:
AMZN.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-06,1109.150024,1125.410034,1108.770020,1120.660034,1120.660034,3381100
2017-11-07,1124.739990,1130.599976,1117.500000,1123.170044,1123.170044,2689000
2017-11-08,1122.819946,1135.540039,1119.109985,1132.880005,1132.880005,2581500
2017-11-09,1125.959961,1129.619995,1115.770020,1129.130005,1129.130005,3668400
2017-11-10,1126.099976,1131.500000,1124.060059,1125.349976,1125.349976,2162985

In [14]:
AAPL.describe()

,Open,High,Low,Close,Adj Close,Volume
count,253.000000,253.000000,253.000000,253.000000,253.000000,2.530000e+02
mean,142.361897,143.322016,141.459566,142.503952,141.730278,2.778098e+07
std,17.095226,17.132903,16.844793,16.975294,17.448259,1.171442e+07
min,106.570000,107.680000,104.080002,105.709999,104.410980,1.147590e+07
25%,133.080002,133.820007,132.750000,133.289993,132.222839,2.056290e+07
50%,144.729996,146.070007,143.779999,145.059998,144.492584,2.519940e+07
75%,155.250000,155.979996,154.479996,155.389999,154.961472,3.175190e+07
max,175.110001,176.240005,174.330002,176.240005,176.240005,1.119850e+08